body {
    background-image: url(moroccan-flower.png);
}

a {
    text-decoration: none;
    color:black;
}
 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
}
h1 {
    font-size: 3em;
}
h3 {
    font-size:2em;
   /*  border-bottom: 	1px solid black;
    padding-bottom: 1px; */
    text-decoration: underline 2px black;
    text-underline-offset: 5px;
}
h5 {
    font-size: 1.5em;
    text-decoration: underline 2px black;
    text-underline-offset: 5px;
}

p {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    display: flex;
    margin: 20px;
    background: #f9f7f7;
    padding: 10px;
    height: 250px;
    align-items: center;
    justify-content: center;
    flex:1; 
    transition: all 1s;
    
    
}

h2 {
    font-size:50px;
}

.logoSeaded {
    height: 150px;
}
.container2 {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.sisu {
    display: flex;
    background: #f9f7f7;
    font-size:20px;
    width: 50%; 
    padding: 20px;
    
}

.header {
    padding: 40px;
    text-align: center;
    background: #f9f7f7;
    margin:30px;
    font-size:20px;
}

.column:hover {
    background-color: aquamarine;
    transform: scale(1.1);
}

.tagasi {
    text-align: end;
}
.tagasi h3 {
    padding-right: 50px;
}

